.about-us {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__list {
  @include list-reset;
  margin: 80px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__item {
  margin-bottom: 80px;
  padding-right: 50px;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 768px;
    padding: 0 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 334px;
    padding-right: 0;
    &-eco {
      order: 1;
    }
    &-style {
      order: 3;
    }
    &-likes {
      order: 5;
    }
    &-hand {
      order: 2;
    }
    &-maker {
      order: 4;
    }
    &-pack {
      order: 6;
    }

  }

}

@media (min-width: $desktop-width) {
  .about-us {
    width: $desktop-width;
    padding: 0 225px;
  }
}
