.about-us {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
}

.about-us__title {
  margin: 0;
  padding: 28px 0 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-bottom: 52px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__item {
  position: relative;
  margin-top: 83px;
  &--eco::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 8px;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }
  &--style::before {
    position: absolute;
    content: "";
    top: -55px;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }
  &--likes::before {
    position: absolute;
    content: "";
    top: -50px;
    left: 8px;
    width: 34px;
    height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }
  &--hand::before {
    position: absolute;
    content: "";
    top: -53px;
    left: 2px;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }
  &--maker::before {
    position: absolute;
    content: "";
    top: -53px;
    left: -5px;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }
  &--pack::before {
    position: absolute;
    content: "";
    top: -53px;
    left: 0;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}


@media (min-width: $tablet-width) {
  .about-us {
    width: 768px;
    padding: 0 50px;
  }

  .about-us__title {
    padding-top: 50px;
    padding-bottom: 0;
    font-size: 43px;
    line-height: 52px;
  }

  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .about-us__item {
    width: 334px;
    box-sizing: border-box;
    padding-right: 30px;
    margin-top: 100px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 22px;
    &--eco {
      order: 1;
    }
    &--style {
      order: 3;
    }
    &--likes {
      order: 5;
    }
    &--hand {
      order: 2;
    }
    &--maker {
      order: 4;
    }
    &--pack {
      order: 6;
    }

  }

}

@media (min-width: $desktop-width) {
  .about-us {
    width: $desktop-width;
    padding: 0 225px;
  }

  .about-us__title {
    padding-top: 57px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    margin-bottom: 80px;
  }
  .about-us__item {
    margin-right: 15px;
  }
}
