.catalog {
  background-color: #f9f9f9;
}

.catalog__lead {
  display: block;
  width: 320px;
  box-sizing: border-box;
  min-height: 283px;
  margin: 0 auto;
  padding: 70px 30px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.catalog__list {
  @include list-reset;
}

.catalog__item--decor {
  background-color: #63d1bb;
}

.catalog__item--child {
  background-color: #56c3b2;
}

.catalog__link {
  position: relative;
  @include link-reset;
  display: block;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 27.5px;
  padding-right: 130px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__link {
  svg {
    position: absolute;
    top: 22px;
    path {
      fill: transparentize(#ffffff, 0.5);
    }
  }
  &--decor svg {
    right: calc(50% - 123px);
  }
  &--child svg {
    right: calc(50% - 133px);
  }
  &:hover {
    outline: 2px solid red;
  }
}


@media (min-width: $tablet-width) {
  .catalog {
    margin-top: -60px;
    border-top: 1px solid #e7e7e7;
  }
  .catalog__lead {
    width: 668px;
    min-height: 627px;
    padding: 155px 60px;
    font-size: 43px;
    line-height: 50px;
    background-size: cover;
  }

  .catalog__list {
    position: relative;
    width: 668px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .catalog__list::before {
    position: absolute;
    content: "";
    bottom: -7px;
    width: 100%;
    height: 16px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: cover;
  }

  .catalog__item {
    width: 50%;
  }

  .catalog__link {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog__link {
    svg {
      top: 30px;
      path {
        fill: transparentize(#3c7168, 0.5);
      }
    }
    &--decor svg {
      right: calc(50% - 130px);
    }
  }

}

@media (min-width: $desktop-width) {
  .catalog {
    width: 100%;
    padding: 0;
  }

  .catalog__lead {
    width: $desktop-width;
    min-height: 630px;
    margin: 0 auto;
    padding: 140px 200px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__list {
    width: $desktop-width;
    margin: 0 auto;
  }

}
