.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  padding: 37px 0 25px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__wrapper-inner {
  display: flex;
  margin-bottom: 30px;
  line-height: 30px;
}

.contacts__item,
.contacts__value {
  margin: 0;
}

.contacts__item {
  padding-right: 30px;
}

.contacts__value--adress {
  padding-right: 30px;
  padding-bottom: 8px;
}

.contacts__value--email {
  position: relative;
  @include link-reset;
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-turquoise;
  }

  &:hover {
    color: $color-turquoise;
  }
  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
}

.contacts__wrapper-button {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 30px;
}

.contacts__button {
  @include style-button;
  width: 100%;
  padding: 13px;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    position: relative;
    width: 668px;
    padding: 63px 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::before {
    position: absolute;
    content: "";
    width: 47px;
    height: 81px;
    left: 620px;
    top: 47px;
    background-image: url("../img/icon-flag.svg");
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__item {
    padding-right: 23px;
  }

  .contacts__value--email::before {
    top: 27px;
  }

  .contacts__wrapper-inner {
    width: 334px;
    margin-bottom: 47px;
  }

  .contacts__wrapper-button {
    padding: 55px 45px 58px;
  }

  .contacts__button {
    padding: 14px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 525px;
    margin: 0;
  }

  .contacts__map {
    width: 525px;
  }

  .contacts__wrapper-button {
    margin: 0;
    order: 3;
  }

}
