.copyright {
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 38px;
}

.copyright__link {
  @include link-reset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__text {
  position: relative;
  margin-bottom: 10px;
  font-size: 19px;
  font-weight: bold;
  pointer-events: none;  //для IE
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 185px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 10px;
  }
}
