.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px 0;
}

.form__list {
  @include list-reset;
}

.form__legend {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 32.5px;
  padding-right: 25px;
  font-size: 17px;
  line-height: 17px;
  color: $color-turquoise;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffffff;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 198px;
    height: 1px;
    left: 62px;
    background-color: $color-turquoise;
    z-index: -1;
  }
}

.form__label {
  display: block;
  padding-left: 62px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__label--radio {
  position: relative;
  margin-bottom: 25px;
  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #000000;
    border-radius: 50%;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 12px;
  background-color: $color-turquoise;
  border-radius: 50%;
}

.form__wrapper-color {
  padding-top: 17px;
}

.form__label--checkbox {
  position: relative;
  margin-bottom: 42.5px;
  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #000000;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 9px;
  top: 0;
  left: 10px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  transform: rotate(-45deg);
}

.form__wrapper-name {
  .form__label {
    padding-left: 0;
    margin-top: -7px;
    margin-bottom: 4px;
  }
  p {
    margin: 0;
  }
  .form__input {
    width: 100%;
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 45px;
    border: none;
    border-bottom: 2px solid #000000;
  }
}

::-webkit-input-placeholder {
  opacity: 0.3;
}
::-moz-placeholder          {
  opacity: 0.3;
}
:-moz-placeholder           {
  opacity: 0.3;
}
:-ms-input-placeholder      {
  opacity: 0.3;
}

.form__wrapper-contacts {
  .form__label {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    padding-left: 0;
    margin-bottom: 8px;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    color: $color-turquoise;
    background-color: #ffffff;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      width: 198px;
      height: 1px;
      left: 62px;
      background-color: $color-turquoise;
      z-index: -1;
    }
  }
  p {
    margin: 0;
  }
  .form__input {
    width: 100%;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 45px;
    border: none;
    border-bottom: 2px solid #000000;
  }
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 140px;
  margin-top: -7px;
  padding: 15px;
  border: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
}

textarea:-moz-placeholder {
  font-family: $font-family;
}
textarea::-webkit-input-placeholder {
  font-family: $font-family;
}

.form__required-info {
  margin: 0;
  padding: 12px 0 30px;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  @include style-button;
  width: 100%;
  padding: 14px;
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
    display: flex;
    width: $tablet-width;
    padding: 23px 50px 5px;
  }

  .form__legend {
    width: 167px;
    padding-right: 17px;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    &::before {
      display: none;
    }
  }

  .form__label {
    margin-bottom: 60px;
    font-size: 19px;
  }

  .form__label--radio::before {
    width: 48px;
    height: 48px;
    top: -16px;
    left: -17px;
  }

  .form__input--radio:checked + .form__label--radio::after {
    width: 20px;
    height: 20px;
    top: 0;
    left: -2px;
  }

  .form__wrapper-color {
    padding-top: 65px;
    padding-bottom: 7px;
    margin-bottom: 40px;
    background-color: #f1f1f1;
    .form__legend {
      padding-right: 130px;
      background-color: #f1f1f1;
    }
    .form__list {
      display: flex;
      flex-wrap: wrap;
    }
    .form__item {
      width: 220px;
      margin-right: 40px;
    }
    .form__item:nth-child(2n) {
      margin-right: 0;
    }
  }

  .form__label--checkbox::before {
    width: 48px;
    height: 48px;
    top: -16px;
    left: -17px;
  }

  .form__input--checkbox:checked + .form__label--checkbox::after {
    width: 27px;
    height: 13px;
    top: 2px;
    left: -4px;
  }

  .form__wrapper-name {
    flex-grow: 2;
    margin-left: -17px;
    margin-bottom: 8px;
    p {
      display: flex;
    }
    .form__label {
      margin-top: 0;
      margin-right: 25px;
    }
    .form__input {
      padding-left: 15px;
      margin-top: -10px;
      margin-bottom: 37px;
      font-size: 18px;
    }
  }

  .form__fieldset--contacts {
    background-color: #f1f1f1;
  }

  .form__wrapper-contacts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
    padding-bottom: 15px;
    p {
      width: 100%;
      display: flex;
    }
    .form__label {
      width: 168px;
      margin-right: 15px;
      background-color: #f1f1f1;
    }
    .form__input {
      margin-top: -10px;
      margin-bottom: 35px;
      padding-left: 20px;
      font-size: 19px;
      background-color: #f1f1f1;
    }
  }

.form__wrapper-textarea {
  padding: 50px 50px 20px;
  .form__legend {
    width: 168px;
    padding-top: 15px;
    padding-right: 0;
  }
}

.form__textarea {
  width: 500px;
  margin: 0;
}

.form__wrapper-button {
  padding-top: 35px;
}

.form__required-info {
  margin-left: auto;
  order: 2;
  font-size: 17px;
  line-height: 30px;
}

.form__button {
  width: 230px;
  order: 1;
  margin-bottom: 45px;
}

}

@media (min-width: $desktop-width) {
  .form__fieldset:nth-child(2n) {
    background-color: #f1f1f1;
  }

  .form__wrapper {
    width: 1050px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__legend {
    width: 175px;
    text-align: center;
  }

  .form__list {
    width: 875px;
  }

  .form__wrapper-color {
    margin-bottom: 0;
    .form__legend {
      padding-right: 20px;
    }
    .form__item,
    .form__item:nth-child(2n) {
      margin-right: 45px;
    }
  }

  .form__fieldset:nth-child(3) {
    padding-top: 45px;
  }

  .form__wrapper .form__input {
    margin-bottom: 42px;
    margin-right: 175px;
    font-size: 19px;
    line-height: 40px;
  }

  .form__wrapper-name {
    margin-bottom: 5px;
  }

  .form__wrapper-contacts {
    padding-left: 60px;
    padding-bottom: 10px;
    .form__label {
      margin-right: 0;
      padding-right: 0;
    }
  }

  .form__wrapper-textarea {
    .form__legend {
      margin-right: 7px;
    }
    .form__textarea {
      width: 700px;
      font-size: 19px;
    }
  }

  .form__wrapper-button {
    width: 1050px;
    padding: 30px 175px 5px;
  }

}
