.goods-week {
  position: relative;
}

.goods-week::before {
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
  background-repeat: repeat;
}

.goods-week__wrapper-title,
.goods-week__wrapper-block,
.goods-week__wrapper-price {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

.goods-week__title {
  margin: 0;
  padding: 28px 0 5px;
  font-size: 25px;
  line-height: 30px;
}

.goods-week__info {
  margin: 0;
  color: $color-turquoise;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.goods-week__paragraph {
  margin: 0;
  padding: 21px 0;
}

.goods-week__characteristic {
  width: 260px;
  margin-bottom: 30px;
  border-collapse: collapse;
  line-height: $body-line-height - 4px;
  &--row {
    border-bottom: 1px solid #ececec;
  }
}

.goods-week__characteristic-parameter {
  width: 90px;
  padding: 8px 7px 10px 0;
}

.goods-week__characteristic-value {
  padding: 8px 0 10px;
}

.goods-week__photo {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.goods-week__price {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.goods-week__button {
  @include style-button;
  width: 100%;
  padding: 14px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .goods-week__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
  }

  .goods-week__wrapper-title {
    display: flex;
    width: 668px;
    justify-content: space-between;
    padding: 0;
  }

  .goods-week__title {
    padding: 0;
    margin-bottom: 55px;
    font-size: 43px;
    line-height: 50px;
  }

  .goods-week__info {
    width: 85px;
    text-align: center;
    margin-right: 20px;
    padding-top: 10px;
    line-height: 17px;
  }

  .goods-week__wrapper-block {
    width: 290px;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .goods-week__paragraph {
    padding-top: 0;
    margin-top: -7px;
    margin-bottom: 15px;
  }

  .goods-week__characteristic {
    font-size: 15px;
    line-height: 20px;
  }

  .goods-week__wrapper-price {
    width: 290px;
    margin: 0;
    margin-top: -45px;
    padding: 0;
  }

  .goods-week__price {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .goods-week__button {
    margin-bottom: 50px;
  }

  .goods-week::before {
    height: 15px;
    background-size: contain;
    background-repeat: repeat;
  }

}

@media (min-width: $desktop-width) {
  .goods-week {
    width: $desktop-width;
  }

  .goods-week__wrapper-title {
    width: $desktop-width;
  }

  .goods-week__title {
    padding-right: 300px;
    font-size: 53px;
    line-height: 57px;
    order: 2;

  }

  .goods-week__info {
    width: 175px;
    box-sizing: border-box;
    padding: 40px;
  }

  .goods-week__wrapper-block {
    width: 350px;
    margin-left: 135px;
  }

  .goods-week__photo {
    flex-grow: 2;
  }



}
