.manufacture {
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 1px solid #ededed;
}
.manufacture__process-title {
  position: relative;
  font-weight: bold;
  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 22px;
    top: 25px;
    left: 35px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.manufacture__process-paragraph {
  font-size: 13px;
  line-height: 24px;
}

.manufacture__order {
  @include link-reset;
  @include style-button;
  padding: 14px;
}

@media (max-width: $mobile-width-only) {
  .manufacture__video-picture {
    margin-top: 95px;
    max-height: 150px;
  }

  .manufacture__process {
    margin-top: -240px;
  }

  .manufacture__process-title {
    margin-top: 0;
    margin-bottom: 172px;
    padding-left: 87px;
    padding-top: 15px;
  }

  .manufacture__process-paragraph {
    margin: 0;
    padding: 30px 45px 25px 30px;
  }

  .manufacture__order {
    display: block;
    width: 190px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

}

@media (min-width: $tablet-width) {
  .manufacture {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  .manufacture__video-picture {
    width: 100%;
    min-height: 453px;
  }

  .manufacture__process {
    padding: 35px 40px 45px 40px;
  }

  .manufacture__process-title {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 65px;
    font-size: 20px;
    line-height: 24px;
    &::before {
      top: 0;
      left: 0;
    }
  }

  .manufacture__process-paragraph {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .manufacture__order {
    display: block;
    width: 553px;
    text-align: center;
  }

}

@media (min-width: $desktop-width) {
  .manufacture {
    width: 1050px;
    display: flex;
    margin-bottom: 95px;
  }

  .manufacture__video {
    width: 680px;
  }

  .manufacture__process {
    width: 360px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 96px;
  }

  .manufacture__process-title {
    padding-left: 0;
    padding-right: 80px;
    &::before {
      top: -50px;
    }
  }

  .manufacture__process-paragraph {
    margin-bottom: 47px;
  }

  .manufacture__order {
    width: 230px;
    box-sizing: border-box;
  }

}
