@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  color: #000000;
  text-decoration: none;
}

@mixin style-button {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 2px solid #000000;
}
