.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 30px 20px;
}

.page-footer__logo {
  @include link-reset;
  display: none;
  &[href]:hover svg path {
    fill: $color-dark-turqoise;
  }
  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    width: 768px;
    padding: 50px;
  }
  .page-footer__logo {
    display: block;
    margin-right: 158px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
    padding: 50px;
  }

  .page-footer__logo {
    margin-right: 350px;
  }
}
