.page-form__wrapper-page-title {
  background-color: #f1f1f1;
}

.page-form__title {
  display: block;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 30px 75px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.page-form__paragraph {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 30px 20px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    width: $tablet-width;
    padding: 90px 130px 60px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }

  .page-form__paragraph {
    width: $tablet-width;
    padding: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}
