.page-header {
  width: 100%;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  border-bottom: 2px solid #ececec;
}

.page-header__logo-image {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding: 21px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    min-height: 100px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 50px;
  }

  .page-header__logo {
    position: absolute;
    border-bottom: none;
  }

}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1150px;
    padding: 0;
    z-index: 5;
  }

  .page-header__logo {
    position: absolute;
    left: calc(50% - 75px);
  }
}
