.page-form__wrapper-page-title {
  background-color: #f1f1f1;
}

.page-form__title {
  display: block;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 70px 30px 75px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.page-form__paragraph {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 30px 20px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-form__wrapper-page-title {
    margin-top: -60px;
  }

  .page-form__title {
    position: relative;
    width: $tablet-width;
    padding: 95px 130px 82px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
    &:before {
      position: absolute;
      content: "";
      bottom: -3px;
      width: 100%;
      height: 16px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: cover;
    }
  }

  .page-form__paragraph {
    width: $tablet-width;
    padding: 70px 50px 50px;
    font-size: 17px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {
  .page-form__title {
    width: 100%;
    padding-bottom: 98px;
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
    font-size: 53px;
    line-height: 57px;
    &::before {
      background-size: 1150px;
      background-repeat: repeat;
    }
  }

  .page-form__paragraph {
    width: 1050px;
    padding: 125px 175px 50px;
  }
}
