.product__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.product__link {
  @include link-reset;
  font-size: 17px;
  line-height: $body-line-height;
}

.product__description {
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  font-weight: bold;
}
