.product__wrapper-page-title {
  background-color: #f1f1f1;
}

.product__page-title {
  display: block;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 70px 30px 75px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.product__list {
  width: 320px;
  box-sizing: border-box;
  padding: 0 30px;
  @include list-reset;
  margin: 0 auto;
}

.product__item {
  width: 260px;
  margin: 0 auto 30px;
  border: 1px solid #ececec;
}

.product__item-block {
  padding-left: 28px;
  padding-right: 28px;
}

.product__link {
  @include link-reset;
  font-size: 17px;
  line-height: $body-line-height;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product__wrapper-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
}

.product__title {
  margin: 0;
  padding-top: 22px;
  margin-bottom: 5px;
}

.product__description {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
}

.product__wrapper-price {
  display: flex;
}

.product__link-cart {
  margin-left: auto;
  margin-top: 20px;
  svg path {
    fill: #d6d6d6;
  }
  &:hover svg path {
    fill: $color-turquoise;
  }
  &:active {
    opacity: 0.3;
  }
}

.product__price {
  margin: 0;
  padding: 22px 0;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .product__list {
    width: $tablet-width;
    padding: 0 50px;
  }

  .product__item {
    display: flex;
    width: 668px;
  }

}
