.reviews {
  position: relative;
}

.reviews::before {
  position: absolute;
  content: "";
  bottom: 0px;
  width: 100%;
  height: 5px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
  background-repeat: repeat;
}

.reviews__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__list {
  @include list-reset;
  margin-bottom: 35px;
}

.reviews__item-text {
  @include list-reset;
  margin-bottom: 30px;
  line-height: $body-line-height + 6px;
}

.reviews__author {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-contact {
  margin: 0;
}

.reviews__author-contact-link {
  @include link-reset;
  font-size: 17px;
}

.reviews__button-wrapper {
  display: flex;
}

.reviews__button {
  position: relative;
  width: 50%;
  height: 50px;
  margin-bottom: 40px;
  background-color: transparent;
  border: 1px solid #ececec;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  &-next {
    transform: rotate(180deg);
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.reviews__button-whrite {
  @include style-button;
  width: 100%;
  padding: 13px;
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .reviews {
    background-size: 46% 460px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__wrapper {
    position: relative;
    width: $tablet-width;
    box-sizing: border-box;
    padding: 78px 50px 75px;
  }

  .reviews__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__item-text {
    margin-top: 50px;
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .reviews__button-wrapper {
    position: absolute;
    width: 170px;
    right: 50px;
    bottom: 93px;
  }

  .reviews__button {
    border: none;
  }

  .reviews__button-whrite {
    position: absolute;
    width: 174px;
    top: 80px;
    right: 50px;
    padding: 14px;
  }

  .reviews::before {
    height: 15px;
    background-size: contain;
    background-repeat: repeat;
  }

}

@media (min-width: $desktop-width) {
  .reviews {
    background: none;
  }

  .reviews__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 80px;
    background-size: 46% 460px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__title {
    width: 500px;
    margin-left: 125px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__list {
    width: 875px;
    box-sizing: border-box;
    margin: 0;
    margin-left: 125px;
    margin-bottom: 110px;
    padding: 0;
    padding-right: 75px;
  }

  .reviews__button-whrite {
    top: 78px;
    right: 0;
  }

  .reviews__item-text {
    margin-bottom: 35px;
  }

  .reviews__author {
    font-size: 17px;
  }

  .reviews__button-wrapper {
    top: 305px;
    right: 0;
  }
}
