.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.social__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

.social__link svg path {
  fill: #000000;
}

.social__link:hover svg path {
  fill: $color-turquoise;
}

.social__link:active svg path {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
  }

  .social__item {
    margin-right: 0;
  }

}
