$font-family: "Open Sans", "Arial", sans-serif;
$color-turquoise: #63d1bb;
$color-dark-turqoise: #56c3b2;
$body-font-size: 15px;
$body-line-height: 24px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
